.DS_Store
.idea/
.vscode/

node_modules/
npm-debug.log*
.next/

.gradle/
build/
out/

*.iml

.env
.env.local

coverage/
dist/
generated/

__pycache__/
*.py[cod]
.pytest_cache/

infra/docker-compose/.env
